.NavBar{
    background-color: #fafafa;
    border: 1px solid #dadadf;
    position: fixed;
}

.NavBar a {
    color: #cfced3;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}

a:hover {
    color: black;
    transition: color ease-in-out 0.3s;
    text-decoration: none;
}

a:hover i {
    color: black;
    transition: color ease-in-out 0.3s;
}

i {
    color: #cfced3;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
}

i:hover {
    color: black;
    transition: color ease-in-out 0.3s;
}