.SearchBar input {
  border-radius: 20px;
  color: black;
  padding-left: 40px !important;
  margin-bottom: 16px;
}

.SearchIcon {
  color: black;
  font-size: 1.2rem;
  position: absolute;
}

.SearchBar {
  flex-grow: 1;
  padding-left: 30px;
}