.App {
    font-family: "DM Sans", sans-serif;
    min-height: 100vh;
}

.Main {
    padding-top: 80px !important;
}

* {
    box-sizing: border-box;
}

.Content {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #dadadf;
}

.FillerImage {
    object-fit: contain;
    height: 100%;
    width: 100%;
}

.logo {
    font-family: "Playwrite IT Moderna", cursive;
}